<lux-accordion luxMode="default" [luxMulti]="true" [luxMulti]="false">
    <lux-panel *ngFor="let parkhaus of parkhaeuser; let indexOfElement=index" [(luxExpanded)]="expanded[indexOfElement]" (luxExpandedChange)="showNewParkflaeche=false;">
      <lux-panel-header-title>{{parkhaus.bezeichnung}}</lux-panel-header-title>
      <lux-panel-content>
        <lux-layout-form-row *ngFor="let parkflaeche of parkhaus.parkflaecheList">
          <lux-input luxLabel="Bezeichnung der Parkfläche" [(luxValue)]="parkflaeche.bezeichnung" (luxFocusOut)="saveParkflaeche(parkhaus, parkflaeche)" *luxLayoutRowItem="{}"></lux-input>
          
          <lux-file-input luxLabel="Bild zur Parkfläche"
          [luxContentsAsBlob]="true"
          [luxSelected]="parkflaeche.image"
          [luxDnDActive]="true"
          [luxDeleteActionConfig]="deleteConfig"
          (luxSelectedChange)="onSelectedFilesChange(parkflaeche, $event)"
          *luxLayoutRowItem="{colSpan:2}">
          </lux-file-input>

          <lux-button luxTagId="deleteItem" luxIconName="fas fa-trash-alt" luxColor="warn" [luxRounded]="true" (luxClicked)="deleteParkflaeche(parkhaus, parkflaeche)" *luxLayoutRowItem="{flex: 'auto'}"></lux-button>
        </lux-layout-form-row>

        <lux-layout-form-row *ngIf="showNewParkflaeche">
          <lux-input luxLabel="Bezeichnung der Parkfläche" [(luxValue)]="newBezeichnung" *luxLayoutRowItem="{}" ></lux-input>
          
          <lux-file-input luxLabel="Bild zur Parkfläche"
          [luxContentsAsBlob]="true"
          [(luxSelected)]="selectedImage"
          [luxDnDActive]="true"
          [luxDeleteActionConfig]="deleteConfig"
          *luxLayoutRowItem="{colSpan:2}">
          </lux-file-input>

          <lux-button luxTagId="saveItem" luxIconName="fas fa-save" luxColor="primary" [luxRounded]="true" [luxDisabled]="isFilledOut()" (luxClicked)="saveNewParkflaeche(parkhaus)" *luxLayoutRowItem="{flex: 'auto'}"></lux-button>
          
        </lux-layout-form-row>
        
        <lux-button [luxDisabled]="showNewParkflaeche" luxTagId="addButton" luxIconName="fas fa-plus" luxColor="primary" [luxRounded]="true" (luxClicked)="showNewParkflaecheRow()"></lux-button>
      </lux-panel-content>
      
    </lux-panel>
</lux-accordion>
 
<lux-button [ngStyle]="{ 'margin-top.px': 100 }" [luxRaised]="true" luxColor="primary" (luxClicked)="addParkhaus()" luxLabel="Parkhaus hinzufügen"></lux-button>