# Mac - Stuff
.DS_Store
.idea

# Frontend
frontend/node_modules
frontend/.gitignore
frontend/.vscode
frontend/.browserslistrc
frontend/.editorconfig
frontend/.angular
frontend/dist

# Frontend - Service
frontend-service/.idea
frontend-service/target
frontend-service/frontend-service.iml

# Backend
backend/.idea
backend/target
backend/backend.iml

# Ignore the db folder
db