# Mac - Stuff
.DS_Store

# Frontend
frontend/node_modules
frontend/.gitignore
frontend/.vscode
frontend/.browserslistrc
frontend/.editorconfig
frontend/.angular

# Backend
backend/.idea
backend/target
backend/backend.iml

# Ignore the db folder
db
