
<div class="parking-map" (click)="handleMapClick($event)">
  <img [src]="image" [ngStyle]="{ 'max-width.px': 600, 'max-height.px': 600 }">
  <div class="marker" *ngFor="let spot of marker" [style.background-color]="getMarkerColor(spot)" [ngStyle]="getPositionStyle(spot)" (click)="handleUserMarkerClick($event, spot)">
  </div>

<div *ngIf="isAdmin">
  <div class="marker" *ngFor="let spot of marker"  [style.background-color]="'blue'" [ngStyle]="getPositionStyle(spot)" (click)="handleAdminMarkerClick($event, spot)">
  </div>

  <div class="new-marker" *ngIf="showNewMarker" [style.left.px]="newMarkerX" [style.top.px]="newMarkerY" (click)="handleNewMarkerClicked($event)" #newMarker>
      +
  </div>

</div>
</div>