
<lux-dialog-structure>
    <lux-dialog-title>Hinzufügen eines Parkplatzes</lux-dialog-title>
    <lux-dialog-content>
        <lux-layout-form-row>
            <lux-input luxLabel="Nummer" *luxLayoutRowItem="{}" [(luxValue)]="nummer" [luxControlValidators]="nummerFnArr" [luxErrorCallback]="nummerErrorCallback"></lux-input>
        
        </lux-layout-form-row>
        <lux-layout-form-row>
        
          <lux-select [luxOptions]="preiskategorie" [luxSelected]="selectedKategorie" luxOptionLabelProp="bezeichnung" luxLabel="preiskategorie" *luxLayoutRowItem="{}"></lux-select>
        </lux-layout-form-row>
        <lux-layout-form-row>
            <lux-select [luxOptions]="typen" [luxSelected]="selectedTyp" luxOptionLabelProp="bezeichnung" luxLabel="Parkplatzart" *luxLayoutRowItem="{}"></lux-select>
        </lux-layout-form-row>
    </lux-dialog-content>
    <lux-dialog-actions>
        
      <lux-button
      luxLabel="Abbrechen"
      luxColor="primary"
      [luxFlat]="true"
      (luxClicked)="luxDialogRef.closeDialog(false)"
    ></lux-button>
      <lux-button
        luxLabel="Speichern"
        luxColor="primary"
        [luxFlat]="true"
        (luxClicked)="submitDialog()"
      ></lux-button>
      
    </lux-dialog-actions>
  </lux-dialog-structure>
