<lux-layout-form-row>
    <lux-input luxLabel="ParkflächeID" [(luxValue)]="parkflaecheID" *luxLayoutRowItem="{}"></lux-input>
    <lux-button luxLabel="Send" [luxRaised]="true" (luxClicked)="loadImage()" *luxLayoutRowItem="{flex: 'none'}"></lux-button>
</lux-layout-form-row>
<lux-layout-form-row>
    <lux-input luxLabel="ImageID" [(luxValue)]="imageID" *luxLayoutRowItem="{}"></lux-input>
    <lux-button luxLabel="Send" [luxRaised]="true" (luxClicked)="loadImageByImageID()" *luxLayoutRowItem="{flex: 'none'}"></lux-button>
</lux-layout-form-row>

<img [src]='image' />


<br><br><br>
<hr>
<br><br><br>

<lux-layout-form-row>
    <lux-file-input luxLabel="Bitte Laden Sie eine Datei hoch"
                luxHint="Klicken Sie auf den 'Upload'-Button oder ziehen Sie die Datei mit Drag-and-Drop auf die Fläche."
                [luxContentsAsBlob]="true"
                [luxSelected]="selected"
                (luxSelectedChange)="onSelectedFilesChange($event)"
                *luxLayoutRowItem="{}">
    </lux-file-input>
    <lux-button luxLabel="Send" [luxRaised]="true" (luxClicked)="uploadImage()" *luxLayoutRowItem="{flex: 'none'}"></lux-button>
</lux-layout-form-row>

<input type="file" (change)="uploadImage2($event)">