//This makes sure both cards (marp-card and shopping-cart-card) have at least a height of 400px
.card-map {
    min-height: 605px;
}

//This styles the shopping-cart-card so that it will show a scrollbar when the cart has many items
.card-content-buchung {
    display: block;
    max-height: 450px;
    overflow-y: scroll;
    margin-bottom: 20px;
    border-bottom: 1px lightgray solid;
}