<!-- stlye 'page-container-90' is defined in the global styles.scss file -->
<div class="page-container-90">
    <lux-card luxTagId="datum_ebene_auswahl">
        <lux-card-content>
            <lux-layout-form-row>
                <lux-select luxLabel="Parkfläche" [(luxSelected)]="selectedParkflaeche" (luxSelectedChange)="onSelectedParkflaecheChange()"
                    [luxOptions]="parkflaechen" [luxDisabled]="selectedParkflaeche == undefined"
                    *luxLayoutRowItem="{ }">
                    <ng-template let-parkanlage>
                        {{ parkanlage.parkhausBezeichnung }} - {{
                        parkanlage.parkflaecheBezeichnung}}
                    </ng-template>
                </lux-select>
                <lux-datepicker luxLabel="Datum" [luxTouchUi]="true" [luxValue]="selectedDatum"
                    [luxMinDate]="minDate" [luxMaxDate]="maxDate"
                    (luxValueChange)="onSelectedDatumChange($event)" [luxDisabled]="isAdmin"
                    luxPlaceholder="Bitte ein Datum auswählen"
                    *luxLayoutRowItem="{ }"></lux-datepicker>
                <div *luxLayoutRowItem="{ colSpan: 2, empty: true }"></div>
            </lux-layout-form-row>
        </lux-card-content>
    </lux-card>
    <br>

    <lux-layout-card-row [luxMargin]="{marginLeft: false, marginRight: false}">
        <lux-card luxTagId="map" *luxLayoutRowItem="{ colSpan: 4 }" class="card-map">
            <lux-card-content>
                <app-map [marker]="marker" [image]="image" (onMarkerChanged)="onMarkerChanged($event)" (onMarkerDeleted)="onMarkerDeleted($event)" (onParkplatzToBasket)="addParkplatzToBasket($event)" *ngIf="selectedParkflaeche"></app-map>
            </lux-card-content>
        </lux-card>

        <ng-container *ngIf="!isAdmin">
            <lux-card luxTitle="Buchung Abschließen" *luxLayoutRowItem="{ colSpan: 3 }">
                <lux-card-content>
                    <div class="card-content-buchung">
                        <div *ngFor="let buchung of abschlussBuchungen; index as i">
                            <div style="margin-bottom: 10px;">
                                <h4>{{buchung.parkplatzKennung}}</h4>
                            </div>
                            <lux-layout-form-row>
                                <lux-datepicker luxLabel="Datum" [luxValue]="buchung.datum" [luxDisabled]="true"
                                    *luxLayoutRowItem="{}"></lux-datepicker>
                                <lux-select luxLabel="Kennzeichen" [luxOptions]="kennzeichenList"
                                    [luxSelected]="buchung['_selectedKennzeichen']" luxOptionLabelProp="kennzeichen"
                                    *luxLayoutRowItem="{}"></lux-select>
                                <lux-button luxTagId="button_cancel_buchung" luxIconName="fa-trash"
                                    (luxClicked)="cancelBuchung(i)" *luxLayoutRowItem="{flex: 'none'}"></lux-button>
                            </lux-layout-form-row>
                        </div>
                    </div>
                </lux-card-content>
                <lux-card-actions>
                    <lux-button [luxDisabled]="abschlussBuchungen.length === 0" [luxRaised]="true" luxLabel="Buchen"
                        (luxClicked)="confirmBuchung()" luxColor="primary"></lux-button>
                </lux-card-actions>
            </lux-card>
        </ng-container>

        <ng-container *ngIf="isAdmin">
            <lux-card luxTitle="Parkhaus und Parkfläche editieren" *luxLayoutRowItem="{colSpan:4}">
                <lux-card-content>
                    <app-admin-edit (selectedParkhausChanged)="loadParkflaeche()"></app-admin-edit>
                </lux-card-content>
            </lux-card>
        </ng-container>
    </lux-layout-card-row>
</div>
