/* You can add global styles to this file, and also import other style files */

//Removes warning in console
//We dont actually need this because we use lux-components and their own theme
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.page-container-90 {
    width: 90%;
    margin: auto;
    padding: 6px 0px;
}

.page-container-70 {
    width: 70%;
    margin: auto;
    padding: 6px 0px;
}