<lux-card luxTitle="Edit List">
    <lux-card-content-expanded>
        <app-edit-list [items]="testData" [attributes]="testAttribs" [canDelete]="true" [canEdit]="true" [canAdd]="true" (onDelete)="onDelete($event)" (onAdd)="onAdd($event)"></app-edit-list>
    </lux-card-content-expanded>
</lux-card>

<lux-card luxTitle="Another Test Card ... [Replace with smt real]">
    <lux-card-content-expanded>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis autem nemo eum aliquid optio mollitia provident ad! Earum rem maxime voluptatem vitae culpa corrupti eaque dicta, natus eius, necessitatibus delectus.
    </lux-card-content-expanded>
</lux-card>