<lux-dialog-structure>
  <lux-dialog-title>{{title}}</lux-dialog-title>
  <lux-dialog-content>
    <div class="content">
      <lux-input luxLabel="Nummer" [luxRequired]="true" [(luxValue)]="nummer" [luxControlValidators]="nummerFnArr" [luxReadonly]="!isAdmin"
        [luxErrorCallback]="nummerErrorCallback"></lux-input>
      <lux-select *ngIf="isAdmin"[luxOptions]="preiskategorie" [(luxSelected)]="selectedKategorie" luxOptionLabelProp="bezeichnung"
        luxLabel="preiskategorie" ></lux-select>
      <lux-select *ngIf="isAdmin" [luxOptions]="typen" [(luxSelected)]="selectedTyp" luxOptionLabelProp="bezeichnung"
        luxLabel="Parkplatzart" ></lux-select>

      <lux-input *ngIf="!isAdmin" luxLabel="Preiskategorie" [luxValue]="parkplatz?.preiskategorie?.bezeichnung" [luxReadonly]="true"></lux-input>
      <lux-input *ngIf="!isAdmin" luxLabel="Parkplatztart" [luxValue]="parkplatz?.parkplatztyp?.bezeichnung" [luxReadonly]="true"></lux-input>
    </div>
  </lux-dialog-content>

  <lux-dialog-actions>
    <lux-button luxLabel="Abbrechen" luxColor="primary" [luxFlat]="true" (luxClicked)="luxDialogRef.closeDialog(null)"></lux-button>
    <lux-button *ngIf="!isAdmin && luxDialogRef.data.status == 'FREI'" luxLabel="Hinzufügen" luxColor="primary" [luxFlat]="true" (luxClicked)="submitDialog()"></lux-button>
    <lux-button *ngIf="isAdmin" [luxDisabled]="!nummer" luxLabel="Speichern" luxColor="primary" [luxFlat]="true" (luxClicked)="submitDialog()"></lux-button>
    <lux-button *ngIf="isAdmin && this.parkplatz?.nummer != undefined" luxLabel="Löschen" luxColor="warn" [luxFlat]="true" (luxClicked)="luxDialogRef.closeDialog(parkplatz.parkplatzID)"></lux-button>
  </lux-dialog-actions>
</lux-dialog-structure>